@charset "UTF-8";
@font-face {
  font-family: "나눔스퀘어B";
  src: url(font/NanumSquareB.woff);
}
@font-face {
  font-family: "나눔스퀘어L";
  src: url(font/NanumSquareL.woff);
}
@font-face {
  font-family: "나눔스퀘어R";
  src: url(font/NanumSquareR.woff);
}
@font-face {
  font-family: "Akashi";
  src: url(font/akashi.ttf);
}
@font-face {
  font-family: "Alex";
  src: url(font/AlexBrush-Regular.ttf);
}
@font-face {
  font-family: "ostrich";
  src: url(font/ostrich-regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "나눔스퀘어B";
}

li {
  list-style: none;
}

.container {
  width: 99vw;
  min-height: 100vh;
  overflow-x: hidden;
  background: whitesmoke;
  color: #111;
}
.container menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 70px;
  left: 0;
  background: #fff;
  z-index: 3;
  transition: all 0.2s;
  transform: translateY(-100vh);
}
.container menu .menu-container {
  margin: 50px;
  padding: 50px;
  border-top: 1px solid #eee;
}
.container menu .menu-container h1 {
  text-align: center;
  color: #111;
}
.container .show {
  transform: translateY(0);
}
.container nav {
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 1000;
  background: #fff;
}
.container nav .upper-nav {
  width: 90%;
  margin: 0 auto;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container nav .upper-nav .logo-left .logo {
  transition: all 0.5s;
}
.container nav .upper-nav .logo-left .logo p {
  font-family: "Alex";
  font-weight: 900;
  font-size: 25px;
  color: #111;
}
.container nav .upper-nav .logo-left .logo-show {
  position: absolute;
  left: 50%;
  -webkit-animation-name: logo;
          animation-name: logo;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  transform: translateX(-50%);
}
.container nav .upper-nav .logo-left .logo-show p {
  font-size: 50px;
}
@-webkit-keyframes logo {
  0% {
    transform: translateX(-1000%) skew(90deg);
  }
  50% {
    transform: translateX(0%) skew(-15deg);
  }
  100% {
    transform: translateX(-50%) skew(0deg);
  }
}
@keyframes logo {
  0% {
    transform: translateX(-1000%) skew(90deg);
  }
  50% {
    transform: translateX(0%) skew(-15deg);
  }
  100% {
    transform: translateX(-50%) skew(0deg);
  }
}
.container nav .upper-nav .nav-right {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container nav .upper-nav .nav-right .time {
  transition: all 0.5s;
}
.container nav .upper-nav .nav-right .time-show {
  visibility: hidden;
  opacity: 0;
}
.container nav .upper-nav .nav-right .side-menu {
  font-size: 20px;
  cursor: pointer;
}
.container nav .upper-nav .nav-right .side-menu .span-container {
  width: 25px;
  /* background: gray; */
  display: flex;
  flex-direction: column;
  position: relative;
}
.container nav .upper-nav .nav-right .side-menu .span-container .bar {
  display: inline-block;
  width: 25px;
  height: 2px;
  background: #111;
  border-radius: 5px;
  margin-top: 5px;
  transition: all 0.5s;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.container nav .upper-nav .nav-right .side-menu .span-container .bar:nth-child(1) {
  position: relative;
  margin-top: 0;
}
.container nav .upper-nav .nav-right .side-menu .span-container .bar:nth-child(2) {
  position: relative;
  transition: all 0.3s;
}
.container nav .upper-nav .nav-right .side-menu .span-container .bar:nth-child(3) {
  position: relative;
}
.container nav .upper-nav .nav-right .side-menu .span-container .bar-show1 {
  transform: rotate(45deg) translateY(15px) translateX(-5px);
}
.container nav .upper-nav .nav-right .side-menu .span-container .bar-show2 {
  transform: translateX(-40px);
  visibility: hidden;
  opacity: 0;
}
.container nav .upper-nav .nav-right .side-menu .span-container .bar-show3 {
  transform: rotate(-45deg) translateY(-15px) translateX(-5px);
}
.container .carousel-container {
  width: 100%;
  height: 85vh;
  position: relative;
  margin-top: 70px;
  z-index: 1;
}
.container .carousel-container .swiper {
  width: 100%;
  height: 100%;
  cursor: -webkit-grab;
  cursor: grab;
}
.container .carousel-container .swiper .swiper-wrapper .swiper-slide {
  background-repeat: no-repeat;
  background-size: cover;
}
.container .carousel-container .swiper .swiper-wrapper .swiper-slide .swiper-content {
  text-shadow: 0 0 5px black;
}
.container .carousel-container .swiper .swiper-wrapper .swiper-slide .swiper-content .title {
  color: white;
}
.container .carousel-container .swiper .swiper-wrapper .swiper-slide .swiper-content .title h1 {
  /* position: absolute;
  top: 30%;
  left: 10%; */
  padding: 150px 0px 0px 150px;
  font-size: 50px;
}
.container .carousel-container .swiper .swiper-wrapper .swiper-slide .swiper-content .title p {
  /* position: absolute;
  top: 40%;
  left: 10%; */
  padding: 50px 0px 0px 150px;
  width: 50%;
  font-size: 20px;
}
.container .carousel-container .swiper .swiper-wrapper .s1 {
  background-image: url(../img/나이팅게일7.png);
}
.container .carousel-container .swiper .swiper-wrapper .s2 {
  background-image: url(../img/나이팅게일8.png);
}
.container .carousel-container .swiper .swiper-wrapper .s3 {
  background-image: url(../img/나이팅게일5.png);
  background-position: 0px -90px;
}
.container .carousel-container .swiper .swiper-wrapper .s4 {
  background-image: url(../img/나이팅게일4.png);
  filter: blur(250);
}
.container .carousel-container .swiper .swiper-pagination {
  --swiper-theme-color: #000;
}
.container .carousel-container .swiper:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.container .scroll-down {
  height: 10vh;
  padding: 20px;
  text-align: center;
}
.container .contents {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.container .contents .title {
  text-align: center;
}
.container .contents .main-contents .contents-list {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  min-height: 100vh;
}
.container .contents .main-contents .contents-list .contents-item:nth-child(odd) .item-description {
  margin-right: auto;
  margin-left: 50px;
}
.container .contents .main-contents .contents-list .contents-item:nth-child(even) {
  flex-direction: row-reverse;
  margin-left: auto;
}
.container .contents .main-contents .contents-list .contents-item:nth-child(even) .item-description {
  margin-left: auto;
  margin-right: 50px;
}
.container .contents .main-contents .contents-list .contents-item {
  display: flex;
  justify-content: space-between;
}
.container .contents .main-contents .contents-list .contents-item > div {
  width: 310px;
  height: 310px;
}
.container .contents .main-contents .contents-list .contents-item .item-img {
  width: 20%;
  background: #ddd;
  padding: 20px;
  border-radius: 15px;
}
.container .contents .main-contents .contents-list .contents-item .item-img .img {
  height: 80%;
}
.container .contents .main-contents .contents-list .contents-item .item-img .link {
  height: 20%;
  border: 1px solid #111;
  border-radius: 5px;
  position: relative;
}
.container .contents .main-contents .contents-list .contents-item .item-img .link > button {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 18px;
  background: none;
  border: none;
  cursor: pointer;
  color: #111;
  transition: all 0.5s;
}
.container .contents .main-contents .contents-list .contents-item .item-img .link .cover {
  position: absolute;
  width: 0%;
  height: 100%;
  background: #111;
  overflow: hidden;
  transition: all 0.5s;
}
.container .contents .main-contents .contents-list .contents-item .item-img .link:hover button {
  color: #fff;
}
.container .contents .main-contents .contents-list .contents-item .item-img .link:hover .cover {
  width: 100%;
}
.container .contents .main-contents .contents-list .contents-item .item-description {
  width: 30%;
}
.container .contents .main-contents .contents-list .contents-item .item-description p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  letter-spacing: 1px;
  line-height: 20px;
  text-align: center;
  font-size: 19px;
}
.container footer {
  width: 100%;
  margin-top: 30vh;
}
.container footer .others {
  height: 90vh;
  background: #fff;
  color: #111;
  padding: 30px;
}
.container footer .others .others-title {
  font-weight: 100;
  text-align: center;
}
.container footer .others .others-title small {
  font-family: "ostrich";
  font-size: 1.8rem;
}
.container footer .others .others-title h1 {
  font-family: "ostrich";
  font-size: 5.4rem;
  font-weight: 100;
}
.container footer .others .project-container {
  width: 80%;
  height: 70%;
  margin: 0 auto;
  display: flex;
}
.container footer .others .project-container .project {
  padding: 50px;
  width: 33%;
}
.container footer .others .project-container .project .project-img {
  border: 1px solid #111;
  height: 60%;
}
.container footer .others .project-container .project .project-description {
  height: 40%;
  text-align: center;
  line-height: 30px;
}
.container footer .others .project-container .project .project-description h3 {
  margin: 20px 0;
}
.container footer .footer1 {
  height: 20vh;
  background: #111;
  color: #fff;
}
.container footer .footer1 .footer1-container {
  width: 80%;
  padding: 30px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.container footer .footer1 .footer1-container div p {
  padding: 5px 0;
  text-align: center;
}
.container footer .footer1 .footer1-container div h3 {
  text-align: center;
}
.container footer .footer2 {
  height: 20vh;
}
.container footer .footer2 div {
  position: relative;
  color: #111;
  transform: translateY(-50%);
  top: 40%;
}
.container footer .footer2 div h1 {
  font-family: "Alex";
  text-align: center;
  font-size: 40px;
}
.container footer .footer2 div p {
  text-align: center;
  font-size: 14px;
}/*# sourceMappingURL=index.css.map */